.container-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, black, #d0d0d0);
    min-height: 100vh;
    color: whitesmoke;
}
.leftSection{
    width: 30%;
    padding: 30px;
}

.rightSection{
    width: 65%;
    padding-right: 30px;
}

.leftSection h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

.leftSection p{
    margin-bottom: 5px;
}

.email-info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.email-icon{
    font-size: 1.5em;
    margin-right: 10px;
}
.right-section h2{
    font-size: 1.8em;
    margin-bottom: 20px;
}
form input,
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d0d0d0;
}
.messageBox{
    height: 200px;
    background-color: #d0d0d0;
}
form button{
    background: linear-gradient(to right, #CD7F32, #A97142);
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}