/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

html{
    background: linear-gradient(to right, black, #d0d0d0);
}
body{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
