.container_meetTheTeam{
    margin-top: 60px;
    background: linear-gradient(to right, black, #d0d0d0);
    min-height: 80vh;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;
}
.member{
    color: whitesmoke;
    padding-left: 8px;
}
.coFounder{
    color:  #CD7F32
}
.member p{
    padding-right: 40px;
}
.team-member-img{
    width: 200px;
    height: 200;
    object-fit: cover;
}
.team-member-img.female{
    border-radius: 70%;
}
.team-member-img.male{
    border-radius: 50%;
}